// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgb(245, 248, 253);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article{
    margin-top: 20px;
    flex: 1;
}

footer{
    background-color: rgb(241, 241, 241);
    padding: 10px 40px;
}

footer p{
    font-size: 1rem;
}

.custom-card{
    width: 450px;
    height: 300px;
    margin-right: 20px;
    background: none;
}

p{
    font-size: 1.2rem
}

.btn{
    font-size: 1.2rem;
}

.navbar {
    padding: 1rem 1rem; 
}

.navbar-brand {
    font-size: 1.5rem; 
}

.navbar-nav{
    font-size: 1rem; 
}
